@charset "utf-8";

/*

   Shopping Cart Design Styles
   Name: Karen Ha
   Date: October 2, 2019

   Filename: shopping.css

*/

/* Left Side Commentary */
div#shopping-grid-1 h1{
	color: #595c5f;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom:30px;
	margin-top: 0px;
}

div#shopping-grid-1 p{
	color: #898e92;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
}

img#cart-sprite{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	width: 50%;
}

/* Right Side Processing Stuff */
div#col-md-7-col-sm-12 table {
  font-family: Open Sans, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #4ea6bc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #4ea6bc;
}

#col-md-5-col-sm-12{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#shopping-brand{
	background-color: #f08573;
	padding: 15px;
	margin: 0;
}

#shopping-brand-text{
	color: #ffffff;
	font-family: Open Sans, sans-serif;
	text-align: center;
	font-size: 20px;
}

#shopping-grid-2{
	max-width: 750px
}