@charset "utf-8";

/*

   Shopping Cart Design Styles
   Name: Karen Ha
   Date: October 2, 2019

   Filename: shopping.css

*/

/* Left Side Commentary */
div#col-md-5.col-sm-12 h1{
	color: #595c5f;
	font-size: 24px;
	font-weight: bold;
	margin-bottom:30px;
	text-align: left;
}

div#col-md-5.col-sm-12 p{
	color: #898e92;
  font-size: 16px;
	line-height: 1.5;
	max-width: 200px;
	text-align: justify;
}

div#bigcart{
	background:url(../img/sprite.png);
	background-position: 25px 70px;
	background-repeat:no-repeat;
	width: 220px;
	height: 200px;
}

/* Right Side Processing Stuff */
div#col-md-7.col-sm-12 table {
  font-family: Open Sans, sans-serif;
  left:80px;
  top:20px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #4ea6bc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #4ea6bc;
}

/* Navigation List Styles */
#shopping-nav {
	background-color: #f08573;
	padding: 10px;
	border-radius: 0;
	margin: 0;
}

#shopping-nav-brand {
	color: #ffffff;
	font-family: Open Sans, sans-serif;
	padding-left: 300px;
}
